/*
  WET-BOEW
  @title: Extra-small view and under (screen only)
  @desc:  Variable $screen-xs-max <= 767px
 */

/* Make a simple list multi-column and responsive (overide _defaults.scss) */
.list-responsive {
	> li {
		clear:right;
		width: 100%;
	}
}

/* Responsive tables - for Tablet Cards - optional */
.provisional {
	&.gc-table {
	.tblt-crds {
		.left-xs {
			text-align: left;
			clear: both;
			display: block;
		}
		>tbody {
			>tr {
				>td {
					&:first-child {
						border-top: none;
					}
				}
			}
		}
		tr {
			border: 1px solid #ddd;
			padding: .35em;
			display: block;
			margin-bottom: .625em;
		}
		border: 0;
		caption {
			font-size: 1.1em;
		}
		thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		td {
			display: block;
			font-size: 1em;
			text-align: right;
			&::before {
				content: attr(data-label);
				font-weight: bold;
				float: left;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}
}